html{
    height: 120rem;
    width: 100%;
    font-size: 16px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.map-container{
    height:100%;
    width: 100%;
}

.search-block{
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    
    height: 25%;
    width: 25%;
    background-color: green;
}



.departure-input{
    height: 1rem;
    width: 50%;
}

.destination-input{
    height: 1rem;
    width: 50%;
}

.search-button{
    height: 1rem;
    width: 10%;
}
