html{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.control-sperate-line{
    position: absolute;
    bottom: 57px;
    right: 25px;

    height: 2px;
    width: 30px;

    background-color: rgb(230,230,230);
}

.BMap_cpyCtrl {
    display:none;
}


.anchorBL{
    display:none;
}

.map-container{
    height:100%;
    width: 100%;
}

.select-visitor-contanier{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.8rem;
    
    height: 13%;
    width: 90%;

    
}

.search-block{
    position: fixed;
    top: 3%;
    left: 1.5rem;
    z-index: 3;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: 29%;
    width: 23%;
   
    background-color :rgb(109,92,232);

    list-style: none;
}

.visitor-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 0;
  
    height: 100%;
    width: 100%;

    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;   
    outline:none;
}

option{
    color:rgb(184,184,184);
    
    text-align:center;  
}

.shrink{
    position: absolute;
    right: 2px;
    top: 0;

    height: 100%;
    width: 6%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.input-part-container{
    margin-top: 6%;
    margin-left: 5%;

    height: 35%;
    width: 90%;
}

.arrow-contanier{
    float: left;
    
    height: 100%;
    width: 13%;
  
    background-image: url(../images/transfor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.red-circle,.green-circle{
    float: left;

    height: 47%;
    width: 10%;
}

.circle1{
    background-image: url(../images/red_circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.circle2{
    background-image: url(../images/green_circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.departure-input,.destination-input{
    display: block;
    float: left;

    border: 0;

    padding: 0;

    height: 47%;
    width: 70%;

    background-color :rgb(109,92,232);
 
    outline: none;

    opacity: 0.35;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #ffffff;
}

.line{
    float: left;

    margin-left: 10%;

    height: 3%;
    width: 77%;

    background-color: white;

    opacity: 0.25;
}

.button-container{
    position: relative;

    margin-left: 16.7%;
    margin-top: 18px;

    height: 32px;
    width: 80%;
}

.clear-route-button{
    height: 100%;
    width: 30%;

    font-size: 1rem;
    color: white;
    text-align: center;
    line-height: 32px;

    cursor: pointer;
}

.cancel{
    float: left;

    height: 48%;
    width: 7%;

    cursor: pointer;
    
    background-image: url(../images/clear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.search-button{
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 2;

    outline: none;
    
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(89,73,204);

    color:white;
    cursor: pointer;
    
    height: 100%;
    width: 28%;

    text-align: center;
}

.filled-container{
    position: absolute;
    left: 1.5rem;
    top: 31%;
    z-index: 2;

    height: 1%;
    width: 23%;

    border: 0;
    
    background-color:white;
}

.fuzzy-search{
    display: none;
    position: fixed;
    top: 32%;  
    left: 1.5rem;
    z-index: 2;

    height: auto;
    width: 23%;

    background-color:rgb(245,245,245);

    font-size: 0;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    -webkit-box-shadow: 0px 0px 8px  #999;
    -moz-box-shadow: 0px 0px 8px  #999;
    box-shadow: 0px 0px 8px  #999;
}

.fuzzy-search-result{
    margin: auto;
    margin-top: 5px;

    height: 20px;
    width: 90%;

    line-height: auto;
    font-size: 13px;

    cursor: pointer;

    color: rgb(76,76,76);
}

.fuzzy-search-result10{
    margin-bottom: 8px;
}

.search-subway-result-contanier{
    display: none;
    position: fixed;
    overflow: auto;

    top: 31%;  
    left: 1.5rem;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: 62%;
    width: 23%;
    
    -webkit-box-shadow: 0px 0px 8px  #999;
    -moz-box-shadow: 0px 0px 8px  #999;
    box-shadow: 0px 0px 8px  #999;

    background-color: rgb(245,245,245);
}

.search-subway-result-contanier::-webkit-scrollbar {
    width: 7px;    
}
.search-subway-result-contanier::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(184,184,184);
}
.search-subway-result-contanier::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-bottom-right-radius: 8px;  
    background: rgba(235,235,235);
}

.recommendation-choose-container{
    position: relative;

    height: 12%;
    width: 100%;

    color: rgb(38,38,38);
}

.recommendation-choose-way{
    height: 100%;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.recommendation-choose-way-detail{
    float: left;

    margin-top: 5%;

    height: 45%;
    width: 24.5%;

    text-align: center;
    font-size: 100%;

    cursor: pointer;

    list-style: none;
}

.way1,.way2,.way3{
    border-right: 1.5px solid rgb(195,195,195);
}

.show-subway-search-result{
    position: relative;

    display: none;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: auto;
    width: 95%;
    
    cursor: pointer;

    margin: auto;

}

.sperate-line{
    position: absolute;
    bottom: 0;
    right: 12.5%;

    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

    height: 2.4px;
    width: 75%;

    background-color: rgb(230,230,230);

    margin: auto;
}



.subway-route-show{
    margin: auto;
    padding-top: 5%;
    padding-left: 0;
   
    height: auto;
    width: 87%;

    color: rgb(77,77,77);
}

.subway-information-show{
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
    padding-top: 0;

    display: block;
    
    height: 13px;
    width: 87%;

    color: rgb(77,77,79);
}

.subway-route-show{
    font-size: 13px;
}

.information_li{
    float: left;

    margin-right: 5px;
    padding-right: 5px;

    height: 100%;
    width: auto;

    list-style: none;
    line-height: 13px;
    font-size: 11px;

    color: rgb(77,77,77);
}

.time,.kilomile,.walk{
    border-right: 1.5px solid rgb(77,77,77);
}

.convenient_type-container{
    height: 23px;
    width: 87%;

    padding-bottom: 10px;
}

.convenient_type{
    display: none;

    margin-left: 6.5%;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    height: 100%;
    width: 15%;

    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 23px;

    background-color: rgb(110,92,236);
}

.set-up-point{
    margin-left: 2%;

    height: 23px;
    width: 50%;

    color: rgb(77,77,77);
    font-size: 12px;
    line-height: 23px;
}

.set-up-point,.convenient_type{
    float: left;
}

.open-detail-arrow{
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: -6px;

    height: 16px;
    width: 16px;

    background-image: url(../images/xiala.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.demonstrate-detail-travel-way{
    display: none;
    position: relative;

    margin: auto;
    clear:both;
    
    height: auto;
    width: 95%;

    font-size: 0;
}

.start-site{
    margin: auto;
    margin-top: 2px;

    height: 100%;
    width: 87%;
}

.notice-set-up-icon{
    float: left;
    height: 20px;
    width: 20px;

    border-radius:50px;
    
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;

    background-color: rgb(110,92,236);
}

.start-site-name{
    float: left;

    margin-left: 4px;

    height: 20px;
    width: 70%;

    color: rgb(77,77,77);
    line-height: 20px;
    font-size: 12px;
}

.go-to-site-route{
    clear:both;
    display: block;

    margin-left: 24px;
    height: 20px;
    width: 70%;

    line-height: 20px;
    color: rgb(78,78,78);
    font-size: 11px;
}

.place-photo-position{ 
    display: inline-block;

    height: 80px;
    width: 24px;

    background-image: url(../images/subway.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

    vertical-align:top;
}

.demonstrate-subway-detail-informations{
    display: inline-block;
    position: relative;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: auto;
    width: 91%;

    background-color: rgb(198,222,208);

    vertical-align: top;
}

.subway-name{
    height: 20px;
    width: 100%;
  
    font-size: 12px;
    line-height: 20px;   
}

.notice-destination-icon-contanier{
    height: 20px;
    width: 100%;

    margin-bottom: 6px;
}

.notice-destination-icon{
    display: inline-block;

    height: 20px;
    width: 20px;

    border-radius:50px;
    
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;

    background-color: rgb(110,92,236);
}

.destination-site-name{
    display: inline-block;

    height: 100%;
    width: 90%;

    margin-left: 4px; 

    color: rgb(97,103,101);
    line-height: 20px;
    font-size: 12px;
}

.station-number{
    position: absolute;
    right: 15px;
    top:50%;

    height: 15px;
    width: 25px;

    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: rgb(110,92,236);
}

.station-number-icon{
    position: absolute;
    right: 0;
    top:50%;

    height: 15px;
    width: 15px;
    
    background-image: url(../images/xiala.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
    
    cursor: pointer;
}

.two-stage-expansion{
    display: none;

    height: 40px;
    width: 100%;

    font-size: 11px;
    line-height: 20px;
    color: rgb(146,151,147);
}
